<%=form_tag pantries_path do%>
  <p>Please update the quantites you have on hand.</p>
  <%@ingredients.each do |ing|%>
    <%=ing.name%>
    <%=hidden_field_tag :"ingredient[id]", ing.id%>
    <%=text_field_tag :"ingredient[quantity]"%>
    <%if ing.wet%>
      <%=select_tag :"ingredient[unit]", raw("<option>Fluid Oz</option>
                               <option>Cup</option>
                               <option>Pint</option>
                               <option>Quart</option>
                               <option>Gallon</option>")%>
      <br>
    <%else%>
      <%=select_tag :"ingredient[unit]", raw("<option>Teaspoon</option>
                                <option>Tablespoon</option>
                                <option>Cup</option>")%>
      <br>
    <%end%>
  <%end%>
  <br>
  <%=submit_tag%>
<%end%>
<br>
<%=link_to "Add Ingredient", new_ingredient_path%>
