<h1><%=@pantry.location%></h1>
<table>
  <th>
    <td>Item</td>
    <td>Quantity</td>
    <td>Unit</td>
  </th>
<%@pantry.available_ingredients.each do |ing|%>
    <tr>
      <td><%=Ingredient.find(ing.ingredient_id).name%></td>
      <td><%=ing.quantity%></td>
      <td><%=ing.unit%></td>
    </tr>
  <%end%>
</table>
<%=link_to "Edit Pantry", edit_pantry_path(@pantry)%>
<p>recipes available with ingredients on hand</p>
<p>add recipe link</p>
<p>all recipes</p>
